<template name="lesson">
  <!--Looping shit -->
  {{>lessonBoard}}

  <button>Got It</button>
</template>
<template name="lesson1">
  <h1>GDP formula</h1>
  <h2>GDP = C + I + G + (Exports - Imports)</h2>
  <p><h6>Consumption (C) - </h6>These are personal consumption expenditures. They are typically broken down into the following categories: durable goods, non-durable goods, and services.</p>
  <p><h6>Investment (I) -</h6>
This is gross private investment; it is generally broken down into fixed investment and changes in business inventories.
  </p>
  <p><h6>Government (G) - </h6>
This category includes government spending on items that are "consumed" in the current period, such as office supplies and gasoline; and also capital goods, such as highways, missiles, and dams. Note that transfer payments are not included in GDP,
as they are not part of current production.
  </p>
  <p><h6>Net Exports - </h6>
  </p>
 </template>
<template name="lesson2">

  </template>
<template name="lesson3">

   </template>
<template name="lesson4">

    </template>

<template name="lesson5">

     </template>
<template name="lesson6">

      </template>
<template name="lesson7">

       </template>
<template name="lesson8">

        </template>
